In [9]:
%matplotlib inline
import numpy as np
import os
import pandas as pd

In [ ]:
# {node(1), node(2), node(3), node(4), node(5), node(6), node(7), node(8), node(9), node(10), node(11), node(12), node(13), node(14), node(15), node(16), node(17), node(18), node(19), node(20), node(21), node(22), node(23), node(24), node(25)

In [20]:
def parse(p):
    with open(p) as f_in:
        answer_set, cost = [l.rstrip() for l in f_in][-3:-1]
    
    cliques = list()
    edges = list()
    
    cost = int(cost.split(' ')[-1].split('@')[0])
    for predicate in answer_set[1:-1].split(', '):
        if 'clique' in predicate:
            cliques.append(int(predicate.split('(')[-1].split(')')[0]))
            continue
        
        if 'inFinal' in predicate:
            x,y = list(map(int, predicate.split('(')[-1].split(')')[0].split(',')))
            edges.append((x,y))
            continue
    
    return cost, cliques, edges

In [21]:
cols = ('Patient', 'Iteration', 'Stage', 'AS cost', 'Nodes in clique', 'Edges in clique', 'Nodes', 'Edges')
stages = ('CIS', 'RR', 'SP', 'PP')

data = list()
for stage in stages:
    for p in os.listdir(stage):
        if '.ipynb' not in p:
            iteration = int(p[-1])
            p_name = p.split('_')[0]
            
            cost, cliques, edges = parse('{}/{}'.format(stage, p))
            data.append((
                p_name, iteration, stage, cost, len(cliques), len(edges),
                ' '.join(map(str, cliques)), 
                ' '.join(map(lambda x: '{},{}'.format(x[0], x[1]), edges))
            ))

In [22]:
df = pd.DataFrame(data, columns=cols)

In [25]:
df.head(4)

,Patient,Iteration,Stage,AS cost,Nodes in clique,Edges in clique,Nodes,Edges
0,arlwi1.csv,1,CIS,6905,24,276,69 24 4 63 57 77 28 78 73 64 53 72 81 60 59 55...,"24,69 4,69 4,63 4,24 63,69 24,63 57,69 4,57 57..."
1,arlwi1.csv,2,CIS,6905,24,276,69 24 4 63 57 77 28 78 73 64 53 72 81 60 59 55...,"24,69 4,69 4,63 4,24 63,69 24,63 57,69 4,57 57..."
2,arlwi1.csv,3,CIS,7410,21,210,7 3 30 29 23 17 1 26 36 8 21 14 27 28 6 19 39 ...,"3,7 23,30 3,30 7,30 29,30 23,29 3,29 7,29 3,23..."
3,arlwi1.csv,4,CIS,7410,21,210,7 3 30 29 23 17 1 26 36 8 21 14 27 28 6 19 39 ...,"3,7 23,30 3,30 7,30 29,30 23,29 3,29 7,29 3,23..."

In [27]:
df.to_excel?

Signature: df.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None)
Docstring:
Write DataFrame to an excel sheet


Parameters
----------
excel_writer : string or ExcelWriter object
    File path or existing ExcelWriter
sheet_name : string, default 'Sheet1'
    Name of sheet which will contain DataFrame
na_rep : string, default ''
    Missing data representation
float_format : string, default None
    Format string for floating point numbers
columns : sequence, optional
    Columns to write
header : boolean or list of string, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names
index : boolean, default True
    Write row names (index)
index_label : string or sequence, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the DataFrame uses MultiIndex.
startrow :
    upper left cell row to dump data frame
startcol :
    upper left cell column to dump data frame
engine : string, default None
    write engine to use - you can also set this via the options
    ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
    ``io.excel.xlsm.writer``.
merge_cells : boolean, default True
    Write MultiIndex and Hierarchical Rows as merged cells.
encoding: string, default None
    encoding of the resulting excel file. Only necessary for xlwt,
    other writers support unicode natively.
inf_rep : string, default 'inf'
    Representation for infinity (there is no native representation for
    infinity in Excel)
freeze_panes : tuple of integer (length 2), default None
    Specifies the one-based bottommost row and rightmost column that
    is to be frozen

    .. versionadded:: 0.20.0

Notes
-----
If passing an existing ExcelWriter object, then the sheet will be added
to the existing workbook.  This can be used to save different
DataFrames to one workbook:

>>> writer = pd.ExcelWriter('output.xlsx')
>>> df1.to_excel(writer,'Sheet1')
>>> df2.to_excel(writer,'Sheet2')
>>> writer.save()

For compatibility with to_csv, to_excel serializes lists and dicts to
strings before writing.
File:      /conda/anaconda/lib/python3.5/site-packages/pandas/core/frame.py
Type:      method